---
import CodeBracketIcon from "@/icons/CodeBracket.astro";
import CheckIcon from "@/icons/Check.astro";
import ChevronRightIcon from "@/icons/Chevron-right.astro";
  
const SERVICES = [
  {
    title: "Diseño y Desarrollo Web",
    link: "#",
    icon:"/services/code-bracket.svg",
    items: [
      "Diseño web responsive y personalizado",
      "Actualización y mantenimiento",
    ],
  },
  {
    title: "Desarrollo de Apps Móviles",
    link: "",
    icon:"/services/device-phone.svg",
    items: [
      "Apps nativas para IOs y android",
      "Apps híbridas y multiplataforma",
    ],
  },
  {
    title: "Ecommerce",
    link: "",
    icon:"/services/shopping-cart.svg",
    items: [
      "Diseño y desarrollo de tiendas online",
      "Vende tus productos en una página intuitiva",
    ],
  },
  {
    title: "Desarrollo de Software",
    link: "",
    icon:"/services/computer-desktop.svg",
    items: [
      "Desarrollo de aplicaciones personalizadas",
      "Soluciones de software empresarial",
    ],
  },
];
---

<section class="w-full h-auto text-just-white relative">
  <span class="absolute -top-5 left-[calc(50%-40px/2)]"
    ><CodeBracketIcon class="text-teal-300 size-10" />
  </span
  >
  <div class=" max-w-3xl justify-center items-center pb-5 mx-auto px-4">
    <h2
      class="font-normal text-3xl text-center pt-14 text-indigo-500 [&>strong]:text-indigo-600"
    >
      Conozca <strong>Nuestros Servicios</strong> y destaca en el <strong
        >Mundo Digital</strong
      >
    </h2>
    <p class="pt-4 font-semibold text-2xl text-center text-indigo-500/80 lg:px-20">
      Desarrollamos tu sitio web, de tal manera que brindes una excelente
      expericiencia al usuario y poder posecionar en primeros lugares de
      búsqueda. Entregamos expericiencias creativas a medida, diseñamos y
      desarrollamos páginas web modernas, elegantes y funcionales.
    </p>
  </div>
  <section
    class="lg:grid grid-rows-2 md:grid-flow-col justify-center md:justify-center pb-4 [&>article]:bg-gradient-to-r from-indigo-500 from-10% via-purple-500 via-30% to-rose-500 to-90% [&>article>h3]:text-white [&>article>ul>li]:text-white"
  >
    {
      SERVICES.map(({ title, link, items, icon}) => (
        <article class="card [&>ul>li]:flex p-4 m-4 rounded-md min-w-72 max-w-96 border-2 border-solid border-black hover:border-teal-500 ">
          <img src={icon} class="size-6" alt={title}>
          <h3 class="font-bold text-xl pt-3">{title}</h3> 
          <ul class="pb-4">
            {items.map((item) => (
              <li>
                <CheckIcon />
                {item}
              </li>
            ))}
          </ul>
          <a href={link} role="link" class="inline-flex items-center text-white font-medium text-lg">
            Ver más <ChevronRightIcon/>
          </a>
        </article>
      ))
    }
  </section>
</section>
